# Database
export POSTGRES_USER=some_user
export POSTGRES_PASSWORD=some_password
export POSTGRES_DB=some_db
export DATABASE_URL=postgres://some_user:some_password@postgres:5432/some_db?sslmode=disable

# Message Broker
export RABBITMQ_USER=some_user
export RABBITMQ_PASS=some_password
export RABBITMQ_URL=amqp://some_user:some_password@rabbitmq:5672/

# Cache & Coordination
export REDIS_URL=redis:6379

# Telemetry
export OTEL_EXPORTER_OTLP_ENDPOINT=jaeger:4317

# External Simulated Provider
export EMAIL_PROVIDER_URL=email_provider_url
export SMS_PROVIDER_URL=sms_provider_url
export PUSH_PROVIDER_URL=push_provider_url